@import "colors";

$primary: green;
$smuth: sans-serif;

button{
    border: 0;
    width: 80px;
    height: 35px;
    color: #fff;
    background-color: $primary;
    border-radius: 5px;
    font-family: $smuth;
    margin: 5px;
    cursor: pointer;
    &:hover{
        background-color: $secondary-color;
    }
}
button[error]{
    background-color: $error-color;
    color: #fff;
    &:hover{
        background-color: $secondary-color;
    }
}