%containers{
    display: flex;
    flex-wrap: wrap;
    margin: 30px; 
    border: 1px solid black;
    span{
        display: inline-block;
        width: 150px;
        height: 150px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
        transition: 0.5s;
        transform: scale(0.8);
        &:hover{
            transform: scale(1);
        }
    }
}
section div{
    @extend %containers;
}