@keyframes apear{
    0%{
        transform: translateZ(2000px);
        background: url(../../bg.png);
        background-position: center;
        background-attachment: fixed;
        box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    }
 

    100%{
        transform: translateZ(0px);
        background: url(../../bg.png);
        background-position: center;
        background-attachment: fixed;
        box-shadow: 0 5px 5px rgba(0,0,0,0.0);
    }
}